.placeholder {
   box-shadow: 0 2px 10px 0 rgba(33, 33, 33, 0.15);
   border-radius: 2px;
   position: relative;
   overflow: hidden;
   color: transparent;
}
.placeholder {
   box-sizing: border-box;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   overflow: hidden;
   direction: ltr;
   border: 1px solid #e6e6e6;
   border-radius: 2px;
   flex: 0 0 100%;
   width: 100%;
   background-color: #ced4da;
}
.placeholder::before {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 50%;
   z-index: 1;
   width: 500%;
   margin-left: -250%;
   pointer-events: none;
   content: " ";
   background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
   -webkit-animation: ph-animation 0.8s linear infinite;
   animation: ph-animation 0.8s linear infinite;
}
@-webkit-keyframes ph-animation {
   0% {
      transform: translate3d(-30%, 0, 0);
   }
   100% {
      transform: translate3d(30%, 0, 0);
   }
}

@keyframes ph-animation {
   0% {
      transform: translate3d(-30%, 0, 0);
   }
   100% {
      transform: translate3d(30%, 0, 0);
   }
}
.table.table-row-dashed tr {
   border-bottom-color: gray !important;
}
tr.table-hover-success:hover,
tr.table-hover-success.active {
   --bs-table-bg: #dcf5e7;
   --bs-table-striped-bg: #d1e9db;
   --bs-table-striped-color: #000000;
   --bs-table-active-bg: #c6ddd0;
   --bs-table-active-color: #000000;
   --bs-table-hover-bg: #cce3d6;
   --bs-table-hover-color: #000000;
}
tr.table-hover-success:hover {
   cursor: default;
}
